@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  font-family: 'Monsterrat', sans-serif;
}
html, body {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}
.card-sm{
  box-shadow: 0 0 1px gray;
}
.card{
  box-shadow: 0 0 3px gray;
}
#logo {
  font-family: 'Sansita Swashed', cursive;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
